* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Kewl;
    src: url(../fonts/BN.ttf);
}

body{
    height: 100vh;
    background-image: url(../img/mainBG.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    font-family: Kewl;
    font-size: 25px;
    color: white;
}

h2{
    margin-top: 10px;
    font-family: Kewl;
    font-size: 90px;
    color: hsl(86, 83%, 21%);
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Kewl;
    width: 90vh;
    font-size: 30px;
    color: hsl(86, 83%, 21%);
    
}

a{
    text-decoration: none;
    color: white;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 5rem 0;
    align-items: center;
    position: absolute;
    width: 91vw;
    top: 0;
    left: 0;
    background-color:#65a512;
    position: fixed;
}

header button {
    padding: 0.5rem 2rem;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    height: 6vh;
    border-bottom: 2px transparent;
    text-decoration: none;
}

header button:hover {
    background-color: #8fc04e; 
    border-radius: 5px;
}
    
header button:active {
    transition: 0.1s ease-in-out;
}

section.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0.3rem 5vw 0;
    height: 70vh;
    padding-top: 1vh;
}   

section.hero img{
    display: flex;
    justify-content: center;
    width: 75vh;
    height: auto;
    border-radius: 20px;
    margin-top: 170px;
    
}