* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Kewl;
    src: url(../fonts/BN.ttf);
}

body{
    height: 100vh;
    background-image: url(../img/mainBG.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    font-family: Kewl;
    font-size: 25px;
    color: white;
}

h2{
    color: hsl(86, 83%, 21%);;
    font-size: 75px;
    margin-top: 50px;
    font-family: Kewl;
}

h3{
    color: hsl(86, 83%, 21%);;
    font-size: 40px;
    margin-bottom: 515px;
    font-family: Kewl;
    
}

h4{
    font-family: Kewl;
    font-size: 25px;
    color: white;
    font-size: 50px;
}

h5{
    color: hsl(86, 83%, 21%);;
    font-size: 40px;
    font-family: Kewl;
    
}

a{
    text-decoration: none;
    color: white;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 5rem 0;
    align-items: center;
    position: absolute;
    width: 91vw;
    top: 0;
    left: 0;
    background-color:#65a512;
    position: fixed;
}

header button {
    padding: 0.5rem 2rem;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    height: 6vh;
    border-bottom: 2px transparent;
    text-decoration: none;
}

header button:hover {
    background-color: #8fc04e; 
    border-radius: 5px;
}
    
header button:active {
    transition: 0.1s ease-in-out;
}

.long-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-color: #65a512;
}

.flexbox-container{
    height: 750px;
    width:  100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
}

.flexbox-container .left{
    height: 350%;
    width:  50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 100px;
    
}

.flexbox-container .right{
    height: 350%;
    width:  50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 100px;
}

.flexbox-items{
    justify-content: center;
    align-items: center;
}


.flexbox-items img{
    width: 250px;
    justify-content: center;
    align-items: center;
    padding-left: 65px;
    margin-bottom: 500px;
}

.flexbox-items2 img{
    
    width: 500px;
    justify-content: center;
    align-items: center;
    margin-bottom: 500px;
    
}

.flexbox-items3 img{
    width: 240px;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    
}
