* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Kewl;
    src: url(../fonts/BN.ttf);
}

body{
    height: 100vh;
    background-image: url(../img/mainBG.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    font-family: Kewl;
    font-size: 25px;
    color: white;
}

h2{
    color: hsl(86, 83%, 21%);;
    font-size: 75px;
    font-family: Kewl;
}

h3{
    color: hsl(86, 83%, 21%);;
    font-size: 40px;
    font-family: Kewl;
    
}

h4{
    font-family: Kewl;
    font-size: 25px;
    color: white;
    font-size: 50px;
}



a{
    text-decoration: none;
    color: white;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 5rem 0;
    align-items: center;
    position: absolute;
    width: 91vw;
    top: 0;
    left: 0;
    background-color:#65a512;
    position: fixed;
}

header button {
    padding: 0.5rem 2rem;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    height: 6vh;
    border-bottom: 2px transparent;
    text-decoration: none;
}

header button:hover {
    background-color: #8fc04e; 
    border-radius: 5px;
}
    
header button:active {
    transition: 0.1s ease-in-out;
}


section.educ{
    display: flex;
    justify-content: center;
    height: 290vh;
    
}

.box {
    height: 40vh;
    width: 90vh;
}


#box1{
    padding-top: 8vh;
    align-items: center;
}

#box2{
    padding-top: 8vh;
    align-items: center;
}

#box3{
    align-items: center;
}


section.educ .left{
    width: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    

}

section.educ .left img{
    padding-left: 13vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    display: flex;
    width: 50vh;
    height: auto;

}

section.educ .right{
    width: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



