* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Kewl;
    src: url(/pages/page3/assets/fonts/BN.ttf);
}

body{
    height: 100vh;
    background-image: url(/pages/page3/assets/img/mainBG.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    font-family: Kewl;
    font-size: 25px;
    color: #BCEF78;
}

h2,h3,h4{
    color: hsl(86, 83%, 21%);
}

p{
    font-weight: 200;
    color: hsl(86, 83%, 21%);
}

a{
    text-decoration: none;
    color: #BCEF78;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 5rem 0;
    align-items: center;
    position: absolute;
    width: 91vw;
    top: 0;
    left: 0;
    background-color:#65a512;
}

header button {
    padding: 0.5rem 2rem;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    height: 6vh;
    border-bottom: 2px transparent;
    text-decoration: none;
}

header button:hover {
    background-color: #8fc04e; 
    border-radius: 5px;
}
    
header button:active {
    transition: 0.1s ease-in-out;
}

section.hero {
    display: flex;
    margin: 0.3rem 5vw 0;
    height: 100vh;
    padding-top: 1vh;
}